/* body styles */
body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;

    min-height: 100vh
}

.main-content{
    flex-grow: 1;
}
body a{
    font-size: 98%;
    color: rgb(122, 141, 103);
    margin-right: 16px;
    text-decoration: none;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

footer{
    color: #888888;
    font-size: 80%;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    font-size: 90%;
    color: #8b7272;
    margin-right: 16px;
    text-decoration: none;

}

footer a{
    font-size: 95%;
    color: #919c9e;
    margin-right: 16px;
    text-decoration: none;
}

.about {
    width: 300px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;

}