<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel='icon' href="/img/icon-help.png">
    </head>

    <body>
        
        <div class="main-content">
            {{>header}}
            
            {{>titleMenu}}

            {{>titleHead}}
        </div>    

         {{>footer}}
        
    </body>

</html>